ddi_transtalent_techsupport_tools/Tech_Support_Tools.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
          "identifier" : "1cbe746d-ffeb-34e0-b904-0f0690c69332",
          "name" : "DBCPConnectionPool",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "com.mysql.cj.jdbc.Driver",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "#{jdbc_url}",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "#{DatabaseUser}",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "#{driver_jar}",
            "dbcp-max-idle-conns" : "8",
            "Password" : "#{DBPassword}"
          },
          "propertyDescriptors" : {
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        }, {
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
          "identifier" : "ff2d1672-4f39-34f4-9ca4-879e8343acaf",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
          "identifier" : "666fe624-fe5f-313b-bb4e-38ce8d2730f9",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
          "identifier" : "ed43a981-6a45-38f1-aaf9-8e46f8ad964b",
          "name" : "ByEmailCSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "CSV Format" : "excel",
            "Quote Character" : "\"",
            "Value Separator" : ",",
            "Escape Character" : "\\",
            "Skip Header Line" : "true",
            "Trim Fields" : "false",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "schema-text-property",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "#{JsonSchema.ByEmail}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.csv.CSVReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
          "identifier" : "d7bc2a0a-100b-3641-9615-6cd9d03ddf51",
          "name" : "ByEmailJsonWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "full-schema-attribute",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "schema-text-property",
            "schema-text" : "#{JsonSchema.ByEmail}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
          "identifier" : "6fc4c9ae-89a8-33ee-82f4-5581d580e924",
          "name" : "JsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.json.JsonTreeReader"
        } ],
        "funnels" : [ ],
        "identifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "TechSupportUtils",
        "outputPorts" : [ ],
        "parameterContextName" : "tech_util_params",
        "position" : {
          "x" : 1760.0,
          "y" : 144.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "25891568-e914-38b7-b1a1-8cf2c9b2fae6",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "68fcdb5e-d956-3eba-b46f-808503b1b79d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "cdb995aa-f303-3481-8169-fb12c82dcc5a",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "c1d83c1a-40e7-3977-b4f9-fd0afc5d7ffe",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "45549a1c-0172-3c9c-98b7-559ecdbc3061",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Original" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "cdb995aa-f303-3481-8169-fb12c82dcc5a",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "6324fbfd-74ca-37bc-80b4-841cec4931eb",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "1d8eb4b4-cb4d-376e-9ea8-07e76ac729cd",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "f8eaed6d-669e-3294-be40-20c37c29fe5e",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "8384b12d-f205-3beb-9a6a-ca608ac42f7a",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "78693e61-11b3-37ea-be8b-731b0ae94230",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "156efeec-4d8f-35aa-bb49-924c7efa4a81",
              "name" : "GenerateFlowFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "31430ec9-fbb8-3a7b-be82-9bfaad143fed",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "463aba25-708d-371d-90e1-c9db1e54e0e9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "cdb995aa-f303-3481-8169-fb12c82dcc5a",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "cdb995aa-f303-3481-8169-fb12c82dcc5a",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "c11834ef-ca42-3b62-bad6-9645cc11ba61",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "6324fbfd-74ca-37bc-80b4-841cec4931eb",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "226a6418-079b-3998-981e-71c1a57cd521",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "f32f0ffb-7898-34d3-9519-0bf5b2d4fc67",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "8384b12d-f205-3beb-9a6a-ca608ac42f7a",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "f8eaed6d-669e-3294-be40-20c37c29fe5e",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "07d09457-5df5-3dc3-8b0c-55b33a7817af",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "8384b12d-f205-3beb-9a6a-ca608ac42f7a",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "489f3125-8851-3019-a788-d6cb68b6a8b8",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "13f3b08e-e8d0-3240-abf2-81a759747d45",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry" ],
            "source" : {
              "comments" : "",
              "groupId" : "58aa7066-c770-353f-beb1-bbee8c045953",
              "id" : "cdb995aa-f303-3481-8169-fb12c82dcc5a",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "489f3125-8851-3019-a788-d6cb68b6a8b8",
            "position" : {
              "x" : 1548.6409858095246,
              "y" : 6.049143380858169
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "31430ec9-fbb8-3a7b-be82-9bfaad143fed",
            "position" : {
              "x" : 1274.0,
              "y" : 588.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "6324fbfd-74ca-37bc-80b4-841cec4931eb",
            "position" : {
              "x" : 952.0,
              "y" : 544.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "226a6418-079b-3998-981e-71c1a57cd521",
            "position" : {
              "x" : 219.0,
              "y" : 305.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "25891568-e914-38b7-b1a1-8cf2c9b2fae6",
            "position" : {
              "x" : 1784.0,
              "y" : 376.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "c1d83c1a-40e7-3977-b4f9-fd0afc5d7ffe",
            "position" : {
              "x" : 1533.7024949849388,
              "y" : 491.5500951799047
            }
          } ],
          "groupIdentifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
          "identifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
          "inputPorts" : [ ],
          "labels" : [ ],
          "name" : "学员注册",
          "outputPorts" : [ ],
          "position" : {
            "x" : 848.0,
            "y" : -320.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "original" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "8384b12d-f205-3beb-9a6a-ca608ac42f7a",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 422.0,
              "y" : 290.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "$.*"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "f8eaed6d-669e-3294-be40-20c37c29fe5e",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 467.0,
              "y" : 536.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "Content Type" : "application/json",
              "Content-Type" : "application/json"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Content Type" : {
                "displayName" : "Content Type",
                "identifiesControllerService" : false,
                "name" : "Content Type",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "cdb995aa-f303-3481-8169-fb12c82dcc5a",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1122.8939973088225,
              "y" : 194.02515292356594
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "False",
              "Remote URL" : "https://api.transtalent.cn/v1/company/user/register",
              "Content-Type" : "application/json",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Attributes to Send",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Use HTTP ETag",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Basic Authentication Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Send Message Body",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Always Output Response",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Maximum ETag Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Put Response Body In Attribute",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Follow Redirects",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "Remote URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Max Length To Put In Attribute",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Ignore response's content",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Use Digest Authentication",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Add Response Headers to Request",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Basic Authentication Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Include Date Header",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Penalize on \"No Retry\"",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "58aa7066-c770-353f-beb1-bbee8c045953",
            "identifier" : "156efeec-4d8f-35aa-bb49-924c7efa4a81",
            "name" : "GenerateFlowFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 405.0,
              "y" : 74.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "File Size" : "0B",
              "generate-ff-custom-text" : "[\n    {\n      \"userName\": \"李玲\",\n      \"companyId\": \"214\",\n      \"id\": \"14246\",\n      \"courseIds\": \"1,2,3,4,5,6,7,9,10\",\n      \"app_key\": \"CD2B4D76CAER43E5UY1865AC90IQYIQY\",\n      \"ts\": 1592961402000,\n      \"sign\": \"{ sign }\"\n    },{\n      \"userName\": \"袁洁\",\n      \"companyId\": \"214\",\n      \"id\": \"02750\",\n      \"courseIds\": \"1,2,3,4,5,6,7,9,10\",\n      \"app_key\": \"CD2B4D76CAER43E5UY1865AC90IQYIQY\",\n      \"ts\": 1592961402000,\n      \"sign\": \"{ sign }\"\n    },{\n      \"userName\": \"陈琬琰\",\n      \"companyId\": \"214\",\n      \"id\": \"15492\",\n      \"courseIds\": \"1,2,3,4,5,6,7,9,10\",\n      \"app_key\": \"CD2B4D76CAER43E5UY1865AC90IQYIQY\",\n      \"ts\": 1592961402000,\n      \"sign\": \"{ sign }\"\n    },{\n      \"userName\": \"温佳琦\",\n      \"companyId\": \"214\",\n      \"id\": \"13521\",\n      \"courseIds\": \"1,2,3,4,5,6,7,9,10\",\n      \"app_key\": \"CD2B4D76CAER43E5UY1865AC90IQYIQY\",\n      \"ts\": 1592961402000,\n      \"sign\": \"{ sign }\"\n    },{\n      \"userName\": \"白颖\",\n      \"companyId\": \"214\",\n      \"id\": \"13101\",\n      \"courseIds\": \"1,2,3,4,5,6,7,9,10\",\n      \"app_key\": \"CD2B4D76CAER43E5UY1865AC90IQYIQY\",\n      \"ts\": 1592961402000,\n      \"sign\": \"{ sign }\"\n    },{\n      \"userName\": \"曹海娇\",\n      \"companyId\": \"214\",\n      \"id\": \"18775\",\n      \"courseIds\": \"1,2,3,4,5,6,7,9,10\",\n      \"app_key\": \"CD2B4D76CAER43E5UY1865AC90IQYIQY\",\n      \"ts\": 1592961402000,\n      \"sign\": \"{ sign }\"\n    }\n  ]",
              "Batch Size" : "1",
              "Unique FlowFiles" : "false",
              "Content Type" : "application/json",
              "Data Format" : "Text"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "Content Type" : {
                "displayName" : "Content Type",
                "identifiesControllerService" : false,
                "name" : "Content Type",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "9999 day",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "f7030931-2a49-305c-8392-f30dd862944f",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "a29f06dd-6cdf-3357-bab1-bf518bdeb14c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "cea519b4-5d26-3eb7-a0e7-a91866a57be0",
              "name" : "CSV To Json-ByEmail",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "0d6faa04-c0e5-3ec6-a21b-df2fa8691424",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "7401495a-8787-372e-928e-c50af08ad57f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "f7030931-2a49-305c-8392-f30dd862944f",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "fe268ae8-09b6-3c21-87a8-113390297c13",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "baba9b82-9d61-3b5f-9439-db14c4b1df38",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "cea519b4-5d26-3eb7-a0e7-a91866a57be0",
              "name" : "CSV To Json-ByEmail",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "fe268ae8-09b6-3c21-87a8-113390297c13",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "23dc5a38-a0bf-3552-b437-7a299447ce4c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "0ce7a1b9-40ea-3e24-8357-d387042c94cb",
              "name" : "ConvertExcelToCSVProcessor",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "7733629a-bb3b-37c7-9c80-4d16af339787",
              "name" : "MergeRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "325ddde6-ac9d-3495-a48a-f8884d68119f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "f296360e-f82d-39c8-a49b-c62d34822852",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "148f3940-b4b9-3e67-aac4-48fbfe356bf9",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "845edf17-4ab7-3afa-b30d-87d7edfc9949",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "b9f165ad-ec0b-3821-8527-00452efa1b4f",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "e536e940-870a-3062-9870-da7aa27573cc",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "bac0f7d4-4152-305d-b99f-f5c55b68b726",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "ac08fcc6-3b92-34bf-9534-d001b0850994",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "f296360e-f82d-39c8-a49b-c62d34822852",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "2f51e08d-4d2e-3da8-948d-f443092e8bc7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "e536e940-870a-3062-9870-da7aa27573cc",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 2805.2406005859375,
              "y" : 517.9040832519531
            }, {
              "x" : 2805.2406005859375,
              "y" : 567.9040832519531
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "f296360e-f82d-39c8-a49b-c62d34822852",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "0257c4c8-a33e-3c79-887e-a26f54d83f92",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "retry" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "f296360e-f82d-39c8-a49b-c62d34822852",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "7565cc9e-3d64-3a64-a7c8-e6f69676ed93",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "a0115da3-559f-33c2-b913-2b272de3e53a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "7733629a-bb3b-37c7-9c80-4d16af339787",
              "name" : "MergeRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "eac6897f-1610-3285-881a-ce14221b4d56",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "2ada2524-a633-3f17-922f-6d1cd942b7ec",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "original" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "7733629a-bb3b-37c7-9c80-4d16af339787",
              "name" : "MergeRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "cea519b4-5d26-3eb7-a0e7-a91866a57be0",
              "name" : "CSV To Json-ByEmail",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "fbf064ff-3780-3e42-abdd-5486a61a3486",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "0ce7a1b9-40ea-3e24-8357-d387042c94cb",
              "name" : "ConvertExcelToCSVProcessor",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "b9f165ad-ec0b-3821-8527-00452efa1b4f",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "c776d583-7800-3c3d-8800-93435e3ac08a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "merged" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "7733629a-bb3b-37c7-9c80-4d16af339787",
              "name" : "MergeRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "fa40bf78-bc0c-39f8-9ebe-ce9afba523c8",
              "name" : "ExecuteSQLRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "81d21d7c-e7ab-3d58-912d-d3796cc64d68",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "0d6faa04-c0e5-3ec6-a21b-df2fa8691424",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "0ce7a1b9-40ea-3e24-8357-d387042c94cb",
              "name" : "ConvertExcelToCSVProcessor",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "3e66aa30-94df-37fa-b8d3-d52853813216",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "84cc144a-0ff9-367e-9746-55fb4ac71866",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "ac08fcc6-3b92-34bf-9534-d001b0850994",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "a9dcc181-1b40-36f4-9566-622bc6300eb8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "executesqlrowcount" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "b15ca8a5-369c-30a4-b503-08e7abccb8fa",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "b15ca8a5-369c-30a4-b503-08e7abccb8fa",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "db96b5d4-7eb8-3b5d-9731-5c1d3e9cd84b",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
              "id" : "fa40bf78-bc0c-39f8-9ebe-ce9afba523c8",
              "name" : "ExecuteSQLRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "eac6897f-1610-3285-881a-ce14221b4d56",
            "position" : {
              "x" : 2086.4147550593348,
              "y" : 826.4524684327421
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "7565cc9e-3d64-3a64-a7c8-e6f69676ed93",
            "position" : {
              "x" : 2904.721611350953,
              "y" : 772.8728528422195
            }
          } ],
          "groupIdentifier" : "e374a85f-be60-3667-a614-ca27f1f8860f",
          "identifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
          "inputPorts" : [ ],
          "labels" : [ ],
          "name" : "渠道用户打标签",
          "outputPorts" : [ ],
          "position" : {
            "x" : 1312.0,
            "y" : -320.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "fe268ae8-09b6-3c21-87a8-113390297c13",
            "name" : "HandleHttpResponse",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1048.0,
              "y" : 16.0
            },
            "properties" : {
              "HTTP Context Map" : "ff2d1672-4f39-34f4-9ca4-879e8343acaf",
              "HTTP Status Code" : "401"
            },
            "propertyDescriptors" : {
              "HTTP Context Map" : {
                "displayName" : "HTTP Context Map",
                "identifiesControllerService" : true,
                "name" : "HTTP Context Map",
                "sensitive" : false
              },
              "HTTP Status Code" : {
                "displayName" : "HTTP Status Code",
                "identifiesControllerService" : false,
                "name" : "HTTP Status Code",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "e536e940-870a-3062-9870-da7aa27573cc",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2344.0,
              "y" : 296.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "company_id" : "$.company_id",
              "user_id" : "$.user_id",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "company_id" : {
                "displayName" : "company_id",
                "identifiesControllerService" : false,
                "name" : "company_id",
                "sensitive" : false
              },
              "user_id" : {
                "displayName" : "user_id",
                "identifiesControllerService" : false,
                "name" : "user_id",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0.1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "ac08fcc6-3b92-34bf-9534-d001b0850994",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2352.0,
              "y" : 120.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "$.*"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "f296360e-f82d-39c8-a49b-c62d34822852",
            "name" : "PutSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2336.0,
              "y" : 480.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "putsql-sql-statement" : "update company_users\nset tag_name       = concat('${tagname}', ';'),\n    department='${employee}'\nwhere company_id = ${company_id}\n  and user_id = ${user_id}",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "1cbe746d-ffeb-34e0-b904-0f0690c69332",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "false"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "fa40bf78-bc0c-39f8-9ebe-ce9afba523c8",
            "name" : "ExecuteSQLRecord",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2344.0,
              "y" : -296.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "select c.id as company_id, our.user_id as user_id\nfrom yy_channelcompanyInfo y\n         join yy_channeluserInfo ycI\n              on y.id = ycI.yy_channelcompanyInfo_id\n                  and y.companyName = '${companyName}' and ycI.email = '${email}'\n         join companies c on y.companyName = c.name\n         join out_user_relation our on ycI.out_uesr_id = our.out_user_id and y.channelKey = our.app_key\nlimit 1",
              "esqlrecord-record-writer" : "666fe624-fe5f-313b-bb4e-38ce8d2730f9",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "1cbe746d-ffeb-34e0-b904-0f0690c69332",
              "dbf-user-logical-types" : "false",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "84cc144a-0ff9-367e-9746-55fb4ac71866",
            "name" : "HandleHttpRequest",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1704.0,
              "y" : -312.0
            },
            "properties" : {
              "multipart-request-max-size" : "100 MB",
              "Allow POST" : "true",
              "Default URL Character Set" : "UTF-8",
              "Allow DELETE" : "true",
              "container-queue-size" : "50",
              "HTTP Context Map" : "ff2d1672-4f39-34f4-9ca4-879e8343acaf",
              "multipart-read-buffer-size" : "512 KB",
              "Allow OPTIONS" : "false",
              "Allow GET" : "true",
              "Allow HEAD" : "false",
              "Listening Port" : "60001",
              "Client Authentication" : "No Authentication",
              "Allow PUT" : "true"
            },
            "propertyDescriptors" : {
              "multipart-request-max-size" : {
                "displayName" : "Multipart Request Max Size",
                "identifiesControllerService" : false,
                "name" : "multipart-request-max-size",
                "sensitive" : false
              },
              "Allow POST" : {
                "displayName" : "Allow POST",
                "identifiesControllerService" : false,
                "name" : "Allow POST",
                "sensitive" : false
              },
              "Hostname" : {
                "displayName" : "Hostname",
                "identifiesControllerService" : false,
                "name" : "Hostname",
                "sensitive" : false
              },
              "Default URL Character Set" : {
                "displayName" : "Default URL Character Set",
                "identifiesControllerService" : false,
                "name" : "Default URL Character Set",
                "sensitive" : false
              },
              "Allow DELETE" : {
                "displayName" : "Allow DELETE",
                "identifiesControllerService" : false,
                "name" : "Allow DELETE",
                "sensitive" : false
              },
              "Additional HTTP Methods" : {
                "displayName" : "Additional HTTP Methods",
                "identifiesControllerService" : false,
                "name" : "Additional HTTP Methods",
                "sensitive" : false
              },
              "container-queue-size" : {
                "displayName" : "Container Queue Size",
                "identifiesControllerService" : false,
                "name" : "container-queue-size",
                "sensitive" : false
              },
              "HTTP Context Map" : {
                "displayName" : "HTTP Context Map",
                "identifiesControllerService" : true,
                "name" : "HTTP Context Map",
                "sensitive" : false
              },
              "multipart-read-buffer-size" : {
                "displayName" : "Multipart Read Buffer Size",
                "identifiesControllerService" : false,
                "name" : "multipart-read-buffer-size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Allow OPTIONS" : {
                "displayName" : "Allow OPTIONS",
                "identifiesControllerService" : false,
                "name" : "Allow OPTIONS",
                "sensitive" : false
              },
              "Allowed Paths" : {
                "displayName" : "Allowed Paths",
                "identifiesControllerService" : false,
                "name" : "Allowed Paths",
                "sensitive" : false
              },
              "Allow GET" : {
                "displayName" : "Allow GET",
                "identifiesControllerService" : false,
                "name" : "Allow GET",
                "sensitive" : false
              },
              "Allow HEAD" : {
                "displayName" : "Allow HEAD",
                "identifiesControllerService" : false,
                "name" : "Allow HEAD",
                "sensitive" : false
              },
              "Listening Port" : {
                "displayName" : "Listening Port",
                "identifiesControllerService" : false,
                "name" : "Listening Port",
                "sensitive" : false
              },
              "Client Authentication" : {
                "displayName" : "Client Authentication",
                "identifiesControllerService" : false,
                "name" : "Client Authentication",
                "sensitive" : false
              },
              "Allow PUT" : {
                "displayName" : "Allow PUT",
                "identifiesControllerService" : false,
                "name" : "Allow PUT",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "b15ca8a5-369c-30a4-b503-08e7abccb8fa",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2352.0,
              "y" : -96.0
            },
            "properties" : {
              "executesqlrowcount" : "${executesql.row.count :gt(0)}",
              "Routing Strategy" : "Route to Property name"
            },
            "propertyDescriptors" : {
              "executesqlrowcount" : {
                "displayName" : "executesqlrowcount",
                "identifiesControllerService" : false,
                "name" : "executesqlrowcount",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "7733629a-bb3b-37c7-9c80-4d16af339787",
            "name" : "MergeRecord",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2336.0,
              "y" : 720.0
            },
            "properties" : {
              "max-bin-age" : "10seconds",
              "correlation-attribute-name" : "${Filename}",
              "Attribute Strategy" : "Keep Only Common Attributes",
              "min-records" : "1",
              "record-writer" : "666fe624-fe5f-313b-bb4e-38ce8d2730f9",
              "merge-strategy" : "Bin-Packing Algorithm",
              "record-reader" : "6fc4c9ae-89a8-33ee-82f4-5581d580e924",
              "max-records" : "100000",
              "min-bin-size" : "0 B",
              "max.bin.count" : "10"
            },
            "propertyDescriptors" : {
              "max-bin-age" : {
                "displayName" : "Max Bin Age",
                "identifiesControllerService" : false,
                "name" : "max-bin-age",
                "sensitive" : false
              },
              "correlation-attribute-name" : {
                "displayName" : "Correlation Attribute Name",
                "identifiesControllerService" : false,
                "name" : "correlation-attribute-name",
                "sensitive" : false
              },
              "Attribute Strategy" : {
                "displayName" : "Attribute Strategy",
                "identifiesControllerService" : false,
                "name" : "Attribute Strategy",
                "sensitive" : false
              },
              "min-records" : {
                "displayName" : "Minimum Number of Records",
                "identifiesControllerService" : false,
                "name" : "min-records",
                "sensitive" : false
              },
              "max-bin-size" : {
                "displayName" : "Maximum Bin Size",
                "identifiesControllerService" : false,
                "name" : "max-bin-size",
                "sensitive" : false
              },
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "merge-strategy" : {
                "displayName" : "Merge Strategy",
                "identifiesControllerService" : false,
                "name" : "merge-strategy",
                "sensitive" : false
              },
              "record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "record-reader",
                "sensitive" : false
              },
              "max-records" : {
                "displayName" : "Maximum Number of Records",
                "identifiesControllerService" : false,
                "name" : "max-records",
                "sensitive" : false
              },
              "min-bin-size" : {
                "displayName" : "Minimum Bin Size",
                "identifiesControllerService" : false,
                "name" : "min-bin-size",
                "sensitive" : false
              },
              "max.bin.count" : {
                "displayName" : "Maximum Number of Bins",
                "identifiesControllerService" : false,
                "name" : "max.bin.count",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "3 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.MergeRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "cea519b4-5d26-3eb7-a0e7-a91866a57be0",
            "name" : "CSV To Json-ByEmail",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1704.0,
              "y" : 160.0
            },
            "properties" : {
              "record-writer" : "d7bc2a0a-100b-3641-9615-6cd9d03ddf51",
              "record-reader" : "ed43a981-6a45-38f1-aaf9-8e46f8ad964b",
              "include-zero-record-flowfiles" : "false"
            },
            "propertyDescriptors" : {
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "record-reader",
                "sensitive" : false
              },
              "include-zero-record-flowfiles" : {
                "displayName" : "Include Zero Record FlowFiles",
                "identifiesControllerService" : false,
                "name" : "include-zero-record-flowfiles",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ConvertRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "148f3940-b4b9-3e67-aac4-48fbfe356bf9",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2344.0,
              "y" : 1128.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "0d6faa04-c0e5-3ec6-a21b-df2fa8691424",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1720.0,
              "y" : 600.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "tagname" : "$.tag",
              "Return Type" : "auto-detect",
              "companyName" : "$.companyName",
              "Null Value Representation" : "empty string",
              "employee" : "$.employee",
              "email" : "$.email",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "tagname" : {
                "displayName" : "tagname",
                "identifiesControllerService" : false,
                "name" : "tagname",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "companyName" : {
                "displayName" : "companyName",
                "identifiesControllerService" : false,
                "name" : "companyName",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "employee" : {
                "displayName" : "employee",
                "identifiesControllerService" : false,
                "name" : "employee",
                "sensitive" : false
              },
              "email" : {
                "displayName" : "email",
                "identifiesControllerService" : false,
                "name" : "email",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0.1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "f7030931-2a49-305c-8392-f30dd862944f",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1712.0,
              "y" : 384.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "$.*"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "b9f165ad-ec0b-3821-8527-00452efa1b4f",
            "name" : "HandleHttpResponse",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2344.0,
              "y" : 920.0
            },
            "properties" : {
              "HTTP Context Map" : "ff2d1672-4f39-34f4-9ca4-879e8343acaf",
              "HTTP Status Code" : "200"
            },
            "propertyDescriptors" : {
              "HTTP Context Map" : {
                "displayName" : "HTTP Context Map",
                "identifiesControllerService" : true,
                "name" : "HTTP Context Map",
                "sensitive" : false
              },
              "HTTP Status Code" : {
                "displayName" : "HTTP Status Code",
                "identifiesControllerService" : false,
                "name" : "HTTP Status Code",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-poi-nar",
              "group" : "org.apache.nifi",
              "version" : "1.11.4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f42502ce-5b9f-3981-9f09-b0c8fbc1ca05",
            "identifier" : "0ce7a1b9-40ea-3e24-8357-d387042c94cb",
            "name" : "ConvertExcelToCSVProcessor",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1704.0,
              "y" : -64.0
            },
            "properties" : {
              "excel-extract-first-row" : "0",
              "CSV Format" : "excel",
              "Quote Character" : "\"",
              "Include Header Line" : "true",
              "Value Separator" : ",",
              "Record Separator" : "\\n",
              "Escape Character" : "\\",
              "extract-sheets" : "Sheet1",
              "excel-format-values" : "true",
              "Trim Fields" : "true",
              "Quote Mode" : "NONE",
              "Include Trailing Delimiter" : "false"
            },
            "propertyDescriptors" : {
              "excel-extract-first-row" : {
                "displayName" : "Number of Rows to Skip",
                "identifiesControllerService" : false,
                "name" : "excel-extract-first-row",
                "sensitive" : false
              },
              "excel-extract-column-to-skip" : {
                "displayName" : "Columns To Skip",
                "identifiesControllerService" : false,
                "name" : "excel-extract-column-to-skip",
                "sensitive" : false
              },
              "CSV Format" : {
                "displayName" : "CSV Format",
                "identifiesControllerService" : false,
                "name" : "CSV Format",
                "sensitive" : false
              },
              "Quote Character" : {
                "displayName" : "Quote Character",
                "identifiesControllerService" : false,
                "name" : "Quote Character",
                "sensitive" : false
              },
              "Include Header Line" : {
                "displayName" : "Include Header Line",
                "identifiesControllerService" : false,
                "name" : "Include Header Line",
                "sensitive" : false
              },
              "Value Separator" : {
                "displayName" : "Value Separator",
                "identifiesControllerService" : false,
                "name" : "Value Separator",
                "sensitive" : false
              },
              "Record Separator" : {
                "displayName" : "Record Separator",
                "identifiesControllerService" : false,
                "name" : "Record Separator",
                "sensitive" : false
              },
              "Escape Character" : {
                "displayName" : "Escape Character",
                "identifiesControllerService" : false,
                "name" : "Escape Character",
                "sensitive" : false
              },
              "extract-sheets" : {
                "displayName" : "Sheets to Extract",
                "identifiesControllerService" : false,
                "name" : "extract-sheets",
                "sensitive" : false
              },
              "excel-format-values" : {
                "displayName" : "Format Cell Values",
                "identifiesControllerService" : false,
                "name" : "excel-format-values",
                "sensitive" : false
              },
              "Null String" : {
                "displayName" : "Null String",
                "identifiesControllerService" : false,
                "name" : "Null String",
                "sensitive" : false
              },
              "Trim Fields" : {
                "displayName" : "Trim Fields",
                "identifiesControllerService" : false,
                "name" : "Trim Fields",
                "sensitive" : false
              },
              "Comment Marker" : {
                "displayName" : "Comment Marker",
                "identifiesControllerService" : false,
                "name" : "Comment Marker",
                "sensitive" : false
              },
              "Quote Mode" : {
                "displayName" : "Quote Mode",
                "identifiesControllerService" : false,
                "name" : "Quote Mode",
                "sensitive" : false
              },
              "Include Trailing Delimiter" : {
                "displayName" : "Include Trailing Delimiter",
                "identifiesControllerService" : false,
                "name" : "Include Trailing Delimiter",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "tech_util_params" : {
          "name" : "tech_util_params",
          "parameters" : [ {
            "description" : "",
            "name" : "DBPassword",
            "sensitive" : true
          }, {
            "description" : "",
            "name" : "driver_jar",
            "sensitive" : false,
            "value" : "/Users/jerryrun/gits/mysql-connector-java-8.0.15.jar"
          }, {
            "description" : "",
            "name" : "DatabaseUser",
            "sensitive" : false,
            "value" : "root"
          }, {
            "description" : "",
            "name" : "JsonSchema.ByEmail",
            "sensitive" : false,
            "value" : "{\n  \"name\": \"ByEmail\",\n  \"type\": \"record\",\n  \"fields\": [\n    {\n      \"name\": \"companyName\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"email\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"tag\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"employee\",\n      \"type\": \"string\"\n    }\n  ]\n}"
          }, {
            "description" : "",
            "name" : "jdbc_url",
            "sensitive" : false,
            "value" : "jdbc:mysql://localhost:3306/ddiprod?useUnicode=true&characterEncoding=utf8"
          } ]
        }
      }
    }
  }
}